<template>
  <div>
    <Navbar />
    <v-row justify="center">
      <v-stepper tile v-model="e1" class="mx-0 mt-6" width="110%">
        <v-stepper-items class="mx-0">
          <v-stepper-content step="1">
            <div v-if="token">
              <v-data-table
                :headers="headers"
                :items="token"
                class="elevation-1"
                calculate-widths
              >
                <template v-slot:top>
                  <v-toolbar
                    flat
                    style="background-color: #40AE49"
                    height="100px"
                    rounded="lg"
                  >
                    <v-toolbar-title style="color:white">Token</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="white"
                      dark
                      outlined
                      class="mb-2 mx-5"
                      @click="initiateSetting"
                    >
                      Tambah Multi Token
                    </v-btn>
                    <v-btn
                      color="white"
                      dark
                      outlined
                      class="mb-2"
                      @click="e1=2"
                    >
                      Tambah Single Token
                    </v-btn>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                      <v-card>
                        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                          <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon
                    small
                    @click="editItem(item)"
                    color="blue"
                  >
                    mdi-pencil
                  </v-icon>
                  <!-- <a href="/cms/produk/produkDetail" style="text-decoration:none">
                    <v-icon
                      small
                      color="green"
                    >
                      mdi-eye
                    </v-icon>
                  </a> -->
                  <v-icon
                    small
                    @click="deleteItem(item)"
                    color="red"
                  >
                    mdi-delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <h5>
                    No data
                  </h5>
                </template>
              </v-data-table>
            </div>
            <div v-else>
              <h5>
                Loading data... Please Wait
              </h5>
            </div>
          </v-stepper-content>
          <v-stepper-content step="2">      
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="white"
                  dark
                  outlined
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Tambah FAQ
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5 mx-2">{{ formTitle }}</span>
                </v-card-title>
  
                <v-card-text>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                  >
                    <v-container>
                      <v-row>
                        <v-col
                          cols="12"
                          lg="4"
                        >
                          <v-text-field
                            v-model="editedItem.token"
                            label="Token"
                            outlined
                            type="number"
                            :rules="[rules.required, rules.counter]"
                          ></v-text-field>
                          <v-row v-if="is_duplicated">
                            <p style="font-size: 12px;" class="red--text mx-3">Token is already used</p>
                          </v-row>
                        </v-col>
                        <v-col>
                          <v-btn
                            v-if="valid && !is_duplicated"
                            color="green"
                            class="mt-2 white--text px-10"
                            @click="validate"
                            :disabled="disableButton"
                          >
                            Save
                          </v-btn>
                          <v-btn
                            v-else
                            color="green"
                            class="mt-2 white--text px-10"
                            @click="validate"
                            disabled
                          >
                            Save
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
  
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>
          </v-stepper-content>
          <v-stepper-content step="3">
              <v-card>
                <v-card-title>
                  <span class="text-h5">Tambah Multi Token</span>
                </v-card-title>
  
                <v-row>
                  <h3 class="red--text mx-7">Menggunakan fitur Tambah Multi Token mengharuskan untuk menghapus semua token yang sudah tersedia. jika ingin menambahkan token satuan, lebih baik menggunakan fitur Tambah Single Token</h3>
                </v-row>
  
                <v-card-text>
                  <v-form
                    ref="setting"
                    v-model="valid"
                    lazy-validation
                  >
                  <v-container>
                    <v-row>
                      <v-col cols="4">
                        <v-text-field
                          v-model="editedSetting.tokenAmmount"
                          label="Jumlah Token"
                          outlined
                          max="1000"
                          :rules="[rules.required, rules.maxCount]"
                          type="number"
                          :disabled="disableButton"
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-btn
                          v-if="valid"
                          color="green"
                          class="white--text mt-2"
                          @click="generateTokenArr(editedSetting.tokenAmmount)"
                          :disabled="disableButton"
                        >
                          generate
                        </v-btn>
                        <v-btn
                          v-else
                          color="green"
                          class="white--text mt-2"
                          @click="generateTokenArr(editedSetting.tokenAmmount)"
                          disabled
                        >
                          generate
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                  </v-form>
                </v-card-text>
  
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-row>
  </div>
</template>
<script>
  import getToken from '~/apollo/queries/token/getToken'
  import CkeditorNuxt from "@/components/ckeditorNuxt"
  import faqs from '~/apollo/queries/faqs'
  import faq_setting from '~/apollo/queries/faq_setting'
  import getAllTokens from '~/apollo/queries/token/getAllTokens'
  import gql from 'graphql-tag'
  import Navbar from "@/components/admin/navBar"

  
  const TOKEN = getToken
  
  export default {
    middleware: "admin",
    apollo: {
      // token is the query name, automatically assigned as variable
      token: {
        prefetch: true,
        // Running Text is the imported name
        query: getAllTokens
      },
      // portal_setting_by_pk: {
      //   prefetch: true,
      //   // news is the imported name
      //   query: faq_setting
      // }
    },
    components: {CkeditorNuxt, Navbar},
    data: () => ({
      is_duplicated: false,
      rules: {
        maxCount: value => value <= 10000 || 'Max Value is 10000',
        required: value => !!value || 'Required.',
        counter: value => value && value.length == 4 || 'Must be 4 characters',
        // unique: value => value && !is_duplicated || 'token is used'
      },
      tokenArr:[],
      content: null,
      valid: true,
      today:'',
      disableButton: false,
      e1:'1',
      isVerified:[
        { text: 'Yes', value: 'yes'},
        { text: 'No', value: 'no'},
      ],
      dialog: false,
      dialogDelete: false,
      headers: [
        // { text: 'id', value: 'id' },
        { text: 'token', value: 'token' },
        { text: 'is_valid', value: 'is_valid' },
        { text: 'done_vote', value: 'done_vote' },
        // { text: 'Created At', value: 'created_at' },
        // { text: 'Updated At', value: 'updated_at' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      items: {},
      editedIndex: -1,
      editedItem: {},
      editedSetting: {},
      defaultItem: {},
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Tambah Single Token' : 'Edit Token'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
    },

    methods: {

      uppercase() {
        this.editedItem.token = this.editedItem.token.toUpperCase();
        this.validateToken()
        if(this.editedItem.token == null){
          this.valid = false
        }
      },

      initiateSetting(){
        this.editedSetting = Object.assign({}, this.portal_setting_by_pk)
        this.e1 = 3
      },

      random(length) {
        let result = '';
        const characters = '1234567890';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
          counter += 1;
        }
        return result;
      },

      deleteAllToken(){
        this.$apollo
          .mutate({
            mutation: gql`
              mutation DeleteToken {
                delete_token(where: {id: {_eq: null}}) {
                  affected_rows
                }
              }
            `,
            variables: {
            }
          })
      },

      generateTokenArr(tokenAmmount){

        console.log(this.tokenArr.length)
        // console.log(tokenAmmount)
        while (this.tokenArr.length < tokenAmmount) {
          var token = ''
          token = this.random(4)
          this.tokenArr.push(token)
          token = ''
          for (let i = 0; i < this.tokenArr.length; i++) {
            if (this.tokenArr[i] == token) { 
              this.tokenArr.pop()
              token = this.random(4)
              this.tokenArr.push(token)
            } 
          }
        }

        this.tokenArr = this.tokenArr.map(token => ({token}))

          this.$apollo
            .mutate({
              mutation: gql`
                mutation DeleteToken {
                  delete_token(where: {id: {_is_null: false}}) {
                    affected_rows
                  }
                }
              `,
          }).then(()=>{
             this.$apollo
              .mutate({
                mutation: gql`
                  mutation(
                    $objects: [token_insert_input!]!
                  ) {
                    insert_token(
                      objects: $objects
                    ) {
                      returning {
                        id
                        token
                      }
                    }
                  }
                `,
                variables: {
                  objects: this.tokenArr,
                }
              })
          }).then(() => {

            window.location.reload()
          })
        console.log(this.tokenArr)
      },

      validateSetting(){
        this.valid = this.$refs.setting.validate()
        if (this.valid==true){
          this.saveSetting()
        }
      },

      
      async validateToken(){
        try {
          const res = await this.$apollo.query({
            query: TOKEN,
            variables: {
              token: this.editedItem.token,
            },
          });

          if (res) {
            console.log(res.data.token)
            if(res.data.token.length == 0){
              this.is_duplicated = false
            }else{
              this.is_duplicated = true
            }
          }
        } catch (err) {
          console.log(err)
        }
        console.log(this.valid)
      },

      validate(){
        if (this.editedItem.token == null){
          this.valid = false
        } else{
          this.valid = true
        }

        this.valid = this.$refs.form.validate()
        if (this.valid==true){
          this.save()
        }
      },

      getToday(){
        this.today = new Date()
      },

      editItem (item) {
        this.editedIndex = this.token.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.e1 = 2
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
        this.e1 = 1
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      deleteItem (item) {
        this.editedIndex = this.token.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.$apollo
          .mutate({
            mutation: gql`
              mutation MyMutation($id: uuid!) {
                delete_token_by_pk(id: $id) {
                  id
                }
              }
            `,
            variables: {
              id: this.editedItem.id,
            }
          }).then(() => {
            window.location.reload()
          })
      },

      async saveSetting(){
        this.disableButton = true
        this.$apollo
            .mutate({
              mutation: gql`
                mutation (
                  $id: uuid
                  $token: String
                ) {
                  update_token(
                    where: {id: {_eq: $id}}, 
                    _set: {
                      token: $token
                    }) {
                    returning {
                      id
                    }
                    affected_rows
                  }
                }
              `,
              variables: {
                id: this.editedSetting.id,
                token: this.editedSetting.token,
              }
            }).then(() => {
              window.location.reload()
            })
      },

      save () {
        if (this.editedIndex > -1) {
          // 
          this.getToday()
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation (
                  $id: uuid
                  $token: String
                ) {
                  update_token(
                    where: {id: {_eq: $id}}, 
                    _set: {
                      token: $token, 
                    }) {
                    returning {
                      id
                      token
                    }
                    affected_rows
                  }
                }
              `,
              variables: {
                id: this.editedItem.id,
                token: this.editedItem.token,
              }
            }).then(() => {
              window.location.reload()
            })
        } else {
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation(
                  $token: String
                ) {
                  insert_token(
                    objects: {
                      token: $token
                    }
                  ) {
                    returning {
                      id
                      token
                    }
                  }
                }
              `,
              variables: {
                token: this.editedItem.token,
              }
            }).then(() => {
              window.location.reload()
            })
        }
        // this.e1 = 1
        // this.close()
      },
    },
  }
</script>