<template>
  <div>
    <div class="blog-component mini-spacer">
      <v-container>
        <!-- -----------------------------------------------
            Start Blog Text
        ----------------------------------------------- -->
        <v-row justify="space-between">
          <v-col cols="12" sm="12" md="12" lg="12">
            <div v-if="!this.anggota_by_pk">
              <h3>loading..</h3>
            </div>
            <div v-else>
              <v-row justify="center" class="my-16">
                <v-card min-width="440px" min-height="600px" class="">
                  <div class="text-center">
                    <h1>E-Voting CBA</h1>
                    <br><br>
                    <h3>{{anggota_by_pk.full_name}}</h3>
                    <img :src="anggota_by_pk.photo_url" alt="" width="250" class="my-2" />
                  </div>
                  <div class="mx-16 px-16">
                    <h4>E-mail: {{anggota_by_pk.email}}</h4>
                    <h4>No. Telp. : {{anggota_by_pk.phone}}</h4>
                    <h4>NBM: {{anggota_by_pk.nbm}}</h4>
                    <h4>Utusan: {{anggota_by_pk.utusan}}</h4>
                    <h4>Jabatan: {{anggota_by_pk.jabatan}}</h4>
                    <!-- <h4>Alamat: {{anggota_by_pk.alamat}}</h4> -->
                  </div>
                  <v-col class="text-center">
                    <VueQRCodeComponent 
                      :text="'https://cba-e-voting.vercel.app/verify/' + anggota_by_pk.id"
                      size="220"
                      error-level="L"
                      class="center"
                    />
                  </v-col>
                </v-card>
              </v-row>
            </div>
            <!-- <v-col cols="12" v-else class="black--text">
              <v-row>
                <v-col cols="12" lg="4">
                  <div class="position-relative mb-15">
                    <a href="#">
                      <v-img
                        :src="portal_products_by_pk.img_url"
                        alt="blog"
                        class="blog-img"
                      />
                    </a>
                  </div>
                </v-col>
                <v-col cols="12" lg="8">
                  <v-row>
                    <v-col cols="12">
                      <h1>{{portal_products_by_pk.name}}</h1>
                      <h2>Rp.{{portal_products_by_pk.price.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")}}</h2>
                    </v-col>
                    <v-col cols="12">
                      <h3>Deskripsi:</h3>
                      <h3>{{portal_products_by_pk.desc}}</h3>
                    </v-col>
                    <v-col cols="6">
                      <h3>Alamat:</h3>
                      <h3>{{portal_products_by_pk.street}}, {{portal_products_by_pk.city}}, {{portal_products_by_pk.zip_code}}.</h3>
                    </v-col>
                    <v-col cols="6">
                      <h3>Telpon:</h3>
                      <h3>{{portal_products_by_pk.phone}}</h3>
                    </v-col>
                    <v-col cols="6">
                      <h3>Bidang:</h3>
                      <h3>{{portal_products_by_pk.bidang}}</h3>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              
              
              
            </v-col> -->
          </v-col>
        </v-row>


      </v-container>
    </div>
    <productsList />
  </div>
</template>

<script>
// import products_by_id from '~/apollo/queries/products_by_id'
import getUserById from '~/apollo/queries/users/getUserById'
import gql from 'graphql-tag'
import VueQRCodeComponent from 'vue-qrcode-component'

export default {
  apollo: {
    // Dynamic querying
    anggota_by_pk: {
      prefetch: ({ route }) => ({ id: route.params.id }),
      query: getUserById,
      variables() {
        return {
          // if the route.params.id is null make id = 1
          id: this.$route.params.id || 'test',
        }
      },
    },
  },
  head() {
    return {
    };
  },

  data() {
    return {
      valid: true,
      items:[],
      igForm: false,
      igUrl:'',
      tokpedForm: false,
      tokpedUrl:'',
      shopeeForm: false,
      shopeeUrl:'',
    };
  },
  components: {
    VueQRCodeComponent 
  },
  methods:{
    protectRoute(){
      if (!nhost.auth.isAuthenticated()) {
        return redirect('/auth');
      }
    },
  },
  mounted(){
    // this.protectRoute()
  },
};
</script>
<style>
  .link{
    text-decoration: none;
  }
  .center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }
</style>
