<template>
  <div class="mr-5">
    <br>
    <!-- token section -->
    <NavBar />
    <h2 class="text-left mb-16">
      {{ this.event_name }}
    </h2>
    <v-row>
      <v-col cols="12" lg="6">
        <v-row>
          <v-col cols="9">
            <v-text-field
              v-model="token"
              outlined
              label="Token"
              type="number"
              :disabled="disabledToken"
            ></v-text-field>
          </v-col>
          <v-col cols="3">
            <v-btn color="green" block class="white--text mt-2" :disabled="disableTokenButton" @click="submitToken">Submit</v-btn>
          </v-col>
          <v-snackbar
            v-model="snackbar"
            timeout="1000"
          >
            Invalid Token atau Token sudah digunakan
            <template v-slot:actions>
              <v-btn
                color="blue"
                variant="text"
                @click="snackbar = false"
              >
                Close
              </v-btn>
            </template>
          </v-snackbar>
        </v-row>
      </v-col>
    </v-row>

    <v-row v-if="enableVote">
      <v-col cols="12" class="text-center mb-10 mr-5">
          <h3>Silakan pilih {{this.chosen_amount}} kandidat, kemudian tekan tombol <span class="red--text">kirim</span></h3>
      </v-col>
    </v-row>

    <v-row v-if="votedArr.length == chosen_amount" class="my-5 mb-16 mr-5">
      <h3 class="red--text">anda sudah memilih {{this.chosen_amount}} kandidat. tekan kirim untuk memilih.</h3>
      <v-spacer></v-spacer>
      <v-btn color="green" class="white--text" :disabled="disableVoteButton" @click="submit">Kirim</v-btn>
    </v-row>

    <!-- candidate section -->   

    <v-row v-if="enableVote==false">
      
    </v-row>

    

    <v-row v-else-if="disable_pic">
      <v-col v-for="calon in calon" :key="id" cols="3">
        <v-card v-if="!disabled && calon.button" @click="vote(calon), calon.button = !calon.button">
          <!-- <h5>{{ calon.id }}</h5> -->
          <div class="mx-3">
            <h3 >{{ calon.nomor_urut }}</h3>
            <p>{{ calon.name }}</p>
          </div>
        </v-card>
        <v-card v-else-if="!calon.button"  @click="vote(calon), calon.button = !calon.button">
          <!-- <h5>{{ calon.id }}</h5> -->
          <div class="mx-3">
            <h3 >{{ calon.nomor_urut }}</h3>
            <div style="position: absolute; right: 0; bottom: 25px;">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="green"
              >
                <v-icon dark>
                  mdi-check
                </v-icon>
              </v-btn>
            </div>
            <p>{{ calon.name }}</p>
          </div>
        </v-card>
        <v-card v-else >
          <!-- <h5>{{ calon.id }}</h5> -->
          <div class="mx-3" style="filter:blur(2px) grayscale(100%); ">
            <h3 >{{ calon.nomor_urut }}</h3>
            <p>{{ calon.name }}</p>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-else>
      <v-col v-for="calon in calon" :key="id" cols="2">
        <v-card v-if="!disabled && calon.button" class="text-center" max-height="700px" @click="vote(calon), calon.button = !calon.button">
          <!-- <h5>{{ calon.id }}</h5> -->
          <h3 class="text-center">{{ calon.nomor_urut }}</h3>
          <img :src="calon.photo_url" alt="" width="100%" height="300" style="object-fit: cover;">
          <p>{{ calon.name }}</p>
        </v-card>
        <v-card v-else-if="!calon.button" class="text-center" max-height="700px" @click="vote(calon), calon.button = !calon.button">
          <!-- <h5>{{ calon.id }}</h5> -->
          <h3 class="text-center">{{ calon.nomor_urut }}</h3>
          <img :src="calon.photo_url" alt="" width="100%" height="300" style="object-fit: cover; filter:opacity(60%);">
          <div style="position: absolute; right: 0; bottom: 25px;">
            <v-btn
              class="mx-2"
              fab
              dark
              small
              color="green"
            >
              <v-icon dark>
                mdi-check
              </v-icon>
            </v-btn>
          </div>
          <p>{{ calon.name }}</p>
        </v-card>
        <v-card v-else class="text-center" max-height="700px">
          <!-- <h5>{{ calon.id }}</h5> -->
          <h3 class="text-center">{{ calon.nomor_urut }}</h3>
          <img :src="calon.photo_url" alt="" width="100%" height="300" style="object-fit: cover; filter:blur(2px) grayscale(100%); ">
          <p>{{ calon.name }}</p>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-if="votedArr.length == chosen_amount" class="my-5 mt-16 mr-5">
      <h3 class="red--text">anda sudah memilih {{this.chosen_amount}} kandidat. tekan kirim untuk memilih.</h3>
      <v-spacer></v-spacer>
      <v-btn color="green" class="white--text" :disabled="disableVoteButton" @click="submit">Kirim</v-btn>
    </v-row>

    <!-- kirim button -->


  </div>
</template>

<script>
import gql from 'graphql-tag'
import getCalons from '~/apollo/queries/calon/getCalons'
import getCalonsByEventId from '~/apollo/queries/calon/getCalonsByEventId'
import getEventById from '~/apollo/queries/event/getEventById'
import getToken from '~/apollo/queries/token/getToken'
import insertVote from '~/apollo/mutation/vote/insertVote'
import updateToken from '~/apollo/mutation/token/updateToken'
import updateTokenValidStatusFalse from '~/apollo/mutation/token/updateTokenValidStatusFalse'
import updateTokenValidStatusTrue from '~/apollo/mutation/token/updateTokenValidStatusTrue'
import NavBar from '@/components/user/navBar.vue'

const VOTE = insertVote
const UPDATE_TOKEN = updateToken

// import { NhostClient } from '@nhost/nhost-js'
// const nhost = new NhostClient({
//     backendUrl: process.env.backendUrl,
//   })

export default { 
  components:{NavBar},
  middleware: "auth",
  data: () => ({
    disabledToken: false,
    disableVoteButton: false,
    snackbar:"",
    indexes:[],
    disabled:false,
    token:'',
    enableVote: false,
    disableTokenButton: false,
    editedIndex:'',
    editedItem:'',
    voted: null,
    votedArr:[],
    calon: null,
    chosen_amount: null,
    disable_pic: false,
    event_id: null,
    event_name: null,
  }),
  methods: {

    uppercase() {
      this.token = this.token.toUpperCase();
    },

    async getEventDetails(){
      try {
        const res = await this.$apollo.query({
          prefetch: ({ route }) => ({ id: route.params.id }),
          query: getEventById,
          variables: {
            id: this.$route.params.id,
          },
        });

        if (res) {
          // console.log(res.data.event_by_pk)
          this.chosen_amount = res.data.event_by_pk.chosen_amount
          this.disable_pic = res.data.event_by_pk.disable_pic
          this.event_name = res.data.event_by_pk.event_name
          // this.data = res.data.event_by_pk
          // console.log(this.chosen_amount);
        }
      } catch (err) {
        console.log(err)
      }
    },

    async getCalons(event_id){
      try {
        const res = await this.$apollo.query({
          query: getCalonsByEventId,
          variables: {
            event_id: event_id,
          },
        });

        if (res) {
          // console.log(res.data.token)
          for (let i = 0; i < res.data.calon.length; i++) {

            res.data.calon[i].nomor_urut = i+1
          }
          this.calon = res.data.calon
          // console.log(this.calon);
        }
      } catch (err) {
        console.log(err)
      }
    }, 

    async updateTokenValidStatusFalse(token){
      try {
        const res = await this.$apollo.mutate({
          mutation: updateTokenValidStatusFalse,
          variables: {
            token: token,
          },
        });

        if (res) {
         console.log("changed to false");
        }
      } catch (err) {
        console.log(err)
      }
    },

    async updateTokenValidStatusTrue(token){
      try {
        const res = await this.$apollo.mutate({
          mutation: updateTokenValidStatusTrue,
          variables: {
            token: token,
          },
        });

        if (res) {
         console.log("changed to true");
        }
      } catch (err) {
        console.log(err)
      }
    },

    async submitToken(){
      try {
        const res = await this.$apollo.query({
          prefetch: ({ route }) => ({ id: route.params.id }),
          query: getToken,
          variables: {
            token: this.token,
            event_id: this.$route.params.id
          },
        });

        if (res) {
          // console.log(res.data.token)
          this.disableTokenButton=true
          if(res.data.token.length == 0 || res.data.token[0].is_valid == false || res.data.token[0].done_vote == true){
            this.enableVote = false
            this.disableTokenButton = false
            this.snackbar = true
          }else{
            // console.log(res.data.token[0].event_id);
            await this.updateTokenValidStatusFalse(this.token)
            this.disabledToken = true
            this.tokenWarning = true
            this.enableVote = true
            this.getCalons(res.data.token[0].event_id)
            this.getEventDetails(res.data.token[0].event_id)
            this.event_id = res.data.token[0].event_id
          }
        }
      } catch (err) {
        console.log(err)
      }
    },

    async vote(calon){
      this.voted = calon.id
      var deleteIndexes = []

      
      if (this.votedArr.length == 0) {
        this.votedArr.push(this.voted)
      }else{
        this.votedArr.push(this.voted)
        for (var i = 0; i < this.votedArr.length-1; i++) { 
          if (this.votedArr[i] == this.voted) { 
            deleteIndexes.push(i)
            this.votedArr.pop()
          }
        }
      }
      
      
      if (deleteIndexes.length != 0) {
        for (var i = 0; i < deleteIndexes.length; i++) { 
          this.votedArr.splice(deleteIndexes[i],1)
        }
      }
      
      if (this.votedArr.length==this.chosen_amount) {
        this.disabled = true
      }else if(this.votedArr.length < this.chosen_amount){
        this.disabled = false
      }
      
      this.voted = null
    },

    async submit (){
      this.disableVoteButton = await true
      await this.$apollo.mutate({
        mutation: VOTE,
        variables: {
          token: this.token,
          vote: this.votedArr,
          event_id: this.event_id
        },
      }).then(()=>{
        this.$apollo.mutate({
          mutation: UPDATE_TOKEN,
          variables: {
            token: this.token
          },
        })
      }).then(()=>{
        window.location.reload()
      })
    },
  },
  mounted() {
    // this.getCalons()
    this.getEventDetails()
  },
}
</script>