<template>
  <div>
    <div v-if="items.length != 0">
      <v-navigation-drawer
          id="app-drawer"
          v-model="disabled"
          src="https://images.pexels.com/photos/775201/pexels-photo-775201.jpeg"
          app
          color="grey darken-2"
          dark
          floating
          mobile-breakpoint="991"
          persistent
          width="260"
      >
          <v-list-item two-line>
              <v-list-item-avatar color="">
                  <img src="@/assets/images/logo-musyda.jpg" height="34" />
              </v-list-item-avatar>
  
              <v-list-item-title class="title">E-Voting</v-list-item-title>
          </v-list-item>
  
          <v-divider class="mx-3 mb-3" />
  
          <v-list v-for="item in items" :key="item.title">
              <v-list-item v-if="!item.items" :to="item.to" active-class="success white--text">
                  <v-list-item-action>
                      <v-icon>{{ item.action }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-title v-text="item.title" />
              </v-list-item>
  
              <v-list-group
                  v-else
                  v-model="item.active"
                  :prepend-icon="item.action"
                  no-action
                  active-class="success white--text"
              >
                  <template v-slot:activator>
                      <v-list-item-content>
                          <v-list-item-title v-text="item.title"></v-list-item-title>
                      </v-list-item-content>
                  </template>
  
                  <v-list-item
                      v-for="child in item.items"
                      :key="child.title"
                      :to="child.to"
                      active-class="success white--text"
                  >
                      <v-list-item-content>
                          <v-list-item-title v-text="child.title"></v-list-item-title>
                      </v-list-item-content>
                  </v-list-item>
              </v-list-group>
          </v-list>
  
          <!-- <template v-slot:append>
              <v-list nav>
                  <v-list-item to="#">
                      <v-list-item-action>
                          <v-icon>mdi-package-up</v-icon>
                      </v-list-item-action>
  
                      <v-list-item-title class="font-weight-light">Visit</v-list-item-title>
                  </v-list-item>
              </v-list>
          </template> -->
      </v-navigation-drawer>
    </div>
    <div v-else>

    </div>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >

      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
      <v-row align="center" class="mx-0">
      <v-spacer />

        <!-- <v-col cols="3">
          <v-text-field class="mr-4 purple-input" color="purple" label="Search..." hide-details />
        </v-col> -->


        <!-- <v-menu bottom left offset-y transition="slide-y-transition">
            <template v-slot:activator="{ attrs, on }">
                <v-btn class="toolbar-items" icon v-bind="attrs" v-on="on">
                    <v-badge color="error" overlap>
                        <template slot="badge">
                            {{ notifications.length }}
                        </template>
                        <v-icon color="tertiary">mdi-bell</v-icon>
                    </v-badge>
                </v-btn>
            </template>

            <v-card>
                <v-list dense>
                    <v-list-item v-for="notification in notifications" :key="notification" @click="onClick">
                      <div>
                        <a href="/" class="black--text" style="text-decoration:none">
                          <v-list-item-title v-text="notification" />
                        </a>
                      </div>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu> -->

        <v-btn icon @click="signOut">
            <v-icon color="tertiary">mdi-logout</v-icon>
        </v-btn>
      </v-row>
    </v-app-bar>
  </div>
</template>

<script>

import { NhostClient } from '@nhost/nhost-js'

const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

export default {
  name: 'DefaultLayout',
  data () {
    return {
      notifications: [],
      clipped: false,
      drawer: false,
      fixed: false,
      items: [],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'TJSL CMS'
    }
  },  
  mounted() {
  },
  methods:{
    async checkRole(){
      // var role = await nhost.auth.getUser().defaultRole
      const role = await this.$store.state.auth.role
      if (role) {
        if (role === 'admin') {
          this.items = [
            {
              action: 'mdi-laptop',
              items: [
                // { title: 'Users Management', to: '/users' }, 
                { title: 'Calon', to: '/calon' }, 
                { title: 'Token', to: '/token' }, 
                // { title: 'Vote', to: '/vote' }, 
                // { title: 'Result', to: '/result' }, 
              ],
              title: 'Admin',
            },
          ]
        }else if (role === 'me') {
          this.items = [
            {
              action: 'mdi-laptop',
              items: [
                // { title: 'Users Management', to: '/users' }, 
                { title: 'Calon', to: '/calon' }, 
                { title: 'Token', to: '/token' }, 
                // { title: 'Vote', to: '/vote' }, 
                { title: 'Result', to: '/result' }, 
              ],
              title: 'Admin',
            },
          ]
        }
      }
    },
    async signOut(){
      try{
        var res = await nhost.auth.signOut()
        if (res) {
          var isAuthenticated = await nhost.auth.isAuthenticatedAsync
          if (isAuthenticated) {
            var user = await nhost.auth.getUser()
            if (!user) {
              window.location.href = '/auth'
            }
          }
          
          await this.$store.commit('auth/setRole', null)
          console.log(res); 
        }
      } catch (error) {
        console.log(error);
      }
    } 
  }

}
</script>
<style>
  .v-image__image{
    filter: brightness(50%);
  }
</style>