<template>
  <div>
    <br><br>
    <br><br>
    <br><br>
    <v-row justify="center">
      <v-card class="mx-16 py-10" width="auto">
        <v-sheet width="500" class="mx-10">
          <v-row class="mx-0">
            <div style="height: 50px;">
              <h2 class="grey--text my-auto">Login as Admin</h2>
            </div>
            <v-spacer></v-spacer>
            <a class="my-auto" href="/auth" style="text-decoration: none;">
              <p class="text-right green--text">
                <i class="mdi mdi-arrow-right" /> 
                login as user
              </p>
            </a>
          </v-row>
          <br>
          <v-form fast-fail @submit.prevent="signIn">
            <v-text-field
              v-model="email"
              label="E-mail"
              required
            ></v-text-field>
      
            <v-text-field
              v-model="password"
              label="Password"
              type="password"
            ></v-text-field>
      
            <v-btn type="submit" color="green" block class="mb-5 white--text mt-2">Submit</v-btn>
          </v-form>
        </v-sheet>
      </v-card>
    </v-row>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ error }}

      <template v-slot:actions>
        <v-btn
          color="blue"
          variant="text"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { NhostClient } from '@nhost/nhost-js'

const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

export default {
  // middleware:auth,
  // auth: false,
  data:() => ({
    snackbar:false,
    timeout: 2000,
    error: '',
    text:'',
    e1: 1,
    email:'',
    password:'',
  }),
  mounted() {
    
  },
  methods: {
    async signIn() {
      try {
        var res = await nhost.auth.signIn({email: this.email, password: this.password})
        var isAuthenticated = await nhost.auth.isAuthenticatedAsync()
        if (!res.error && isAuthenticated) {
          var role = await nhost.auth.getUser().defaultRole
          console.log(role);
          await this.$store.commit('auth/setRole', role)
          if (role) {
            if (role === 'me') {
              window.location.href = '/superadmin/event'
              console.log(role);
            }
            else if(role === 'admin'){
              window.location.href ='/admin/event';
            }
            else{
              try{
                var res = await nhost.auth.signOut()
                if (res) {
                  var isAuthenticated = await nhost.auth.isAuthenticatedAsync
                  if (isAuthenticated) {
                    var user = await nhost.auth.getUser()
                    if (!user) {
                      window.location.href = '/auth/admin'
                    }
                  }
                  await this.$store.commit('auth/setRole', null)
                  console.log(res); 
                }
              } catch (error) {
                console.log(error);
              }
            }
          }
          // console.log(this.$store.state.auth.role); 
          // this.$store.commit('auth/setToken', res.session.accessToken)
          // localStorage.setItem('token', res.session.accessToken)
          // localStorage.setItem('role', res.session.user.defaultRole)
        }else{
          this.error = res.error.message
          this.snackbar = true
        }
      } catch (error) {
        console.log(error);
        // isAuthenticated = false
      }
    },
    async logging(){
      const role = await this.$store.state.auth.role
      const isAuthenticated = await nhost.auth.getSession()
      console.log(role);
      console.log(isAuthenticated);

    }
  },
}
</script>