<template>
  <div>
    <Navbar />
    <br>
    <!-- <v-row >
      <div class="mx-4">
        <a class="green--text" href="/superadmin/event" style="text-decoration: none;">
          <h3> <icon class="mdi mdi-arrow-left" />  Back</h3>
        </a>
        <br>
        <v-card width="500px" class="pa-5">
          <h5>Event Information</h5>
          <br>
          <p>Nama Event : {{ data.event_name }} </p>
          <p>Deskripsi: {{ data.description }}</p>
          <p v-if="data.is_active">Status: Active</p>
          <p v-else>Status: Inactive</p>
        </v-card>
      </div>
    </v-row> -->
    <v-row>
      <v-tabs
        v-model="tab"
      >
      <v-tabs-slider color="white"></v-tabs-slider>
        <v-tab>
          Calon
        </v-tab>
        <v-tab>
          Token
        </v-tab>
      </v-tabs>
    </v-row>
    <v-row>
      <v-tabs-items v-model="tab" style="width: 100%;">
        <v-tab-item>
          <Calon />
        </v-tab-item>
        <v-tab-item>
          <Token />
        </v-tab-item>
      </v-tabs-items>
    </v-row>
  </div>
</template>

<script>
import Navbar from "@/components/admin/navBar"
import Calon from "@/components/superadmin/Calon"
import Token from "@/components/superadmin/Token"
import Result from "@/components/superadmin/Result"
import gql from 'graphql-tag'
import getEventById from '~/apollo/queries/event/getEventById'

export default {
  components: {Navbar, Calon, Token, Result},
  data:()=>({
    data:'',
    tab:null,
  }), 
  methods: {
    async getEventDetails(){
      try {
        const res = await this.$apollo.query({
          prefetch: ({ route }) => ({ id: route.params.id }),
          query: getEventById,
          variables: {
            id: this.$route.params.id,
          },
        });

        if (res) {
          // console.log(res.data.event_by_pk)

          this.data = res.data.event_by_pk
          // console.log(this.data);
        }
      } catch (err) {
        console.log(err)
      }
    },
  },
  mounted() {
    this.getEventDetails()
  },
};
</script>