<template>
  <div>
    <br><br>
    <br><br>
    <v-row justify="center">
      <v-card class="mx-16 pb-10 pt-1" width="auto">
        <v-sheet width="500" class="mx-10">
          <br><br>
          <v-row class="mx-0">
            <div style="height: 50px;">
              <h2 class="my-auto grey--text">Login as User</h2>
            </div>
            <v-spacer></v-spacer>
              <a class="my-auto" href="/auth/admin" style="text-decoration: none;">
                <p class="text-right green--text">
                  <i class="mdi mdi-arrow-right" /> 
                  login as admin
                </p>
              </a>
          </v-row>
          <br>
          <v-form fast-fail @submit.prevent="signIn" v-model="valid" lazy-validation>
            <v-text-field
              v-model="email"
              label="E-mail"
              required
              :rules="rules.required"
            ></v-text-field>
      
            <v-text-field
              v-model="password"
              label="Password"
              type="password"
              required
              :rules="rules.required"
            ></v-text-field>

            <v-select
              v-model="selectedEvent"
              :items="events"
              item-text="event_name"
              item-value="id"
              label="Event"
              :rules="rules.required"
              outlined
              dense
              return-object
              required
            ></v-select>
      
            <v-btn v-if="valid" type="submit" color="green" block class="mb-5 white--text mt-2">Submit</v-btn>
            <v-btn v-else type="submit" disabled block class="mb-5 white--text mt-2">Submit</v-btn>

          </v-form>
        </v-sheet>
      </v-card>
    </v-row>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ error }}

      <template v-slot:actions>
        <v-btn
          color="blue"
          variant="text"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { NhostClient } from '@nhost/nhost-js'
import getActiveEvents from '~/apollo/queries/event/getActiveEvents'

const nhost = new NhostClient({
  backendUrl: process.env.backendUrl,
})

export default {
  // middleware:auth,
  // auth: false,
  data:() => ({
    snackbar:false,
    timeout: 2000,
    error: '',
    text:'',
    e1: 1,
    email:'',
    password:'',
    selectedEvent:'',
    events:[],
    valid: false,
    rules: {
      maxCount: value => value <= 1000 || 'Max Value is 1000',
      required: value => !!value || 'Required.',
      counter: value => value && value.length == 4 || 'Must be 4 characters',
      unique: value => value && !is_duplicated || 'token is used'
    },
  }),
  mounted() {
    this.getEvents()
  },
  methods: {
    logging(){
      console.log(this.selectedEvent);
      console.log(this.password);
    },
    async signIn() {
      // console.log(this.email)
      // console.log(this.password)
      // console.log(this.selectedEvent)
      try {
        var res = await nhost.auth.signIn({email: this.email, password: this.password})
        var isAuthenticated = await nhost.auth.isAuthenticatedAsync()
        if (!res.error && isAuthenticated) {
          var role = await nhost.auth.getUser().defaultRole
          console.log(role);
          await this.$store.commit('auth/setRole', role)
          if (role && this.selectedEvent) {
            if(role === 'user'){
              window.location.href ='/vote/event/'+ this.selectedEvent.id;
            }else{
              try{
                var res = await nhost.auth.signOut()
                if (res) {
                  var isAuthenticated = await nhost.auth.isAuthenticatedAsync
                  if (isAuthenticated) {
                    var user = await nhost.auth.getUser()
                    if (!user) {
                      window.location.href = '/auth'
                    }
                  }
                  await this.$store.commit('auth/setRole', null)
                  console.log(res); 
                }
              } catch (error) {
                console.log(error);
              }
            }
          }
          if(!this.selectedEvent){
            this.error = 'Silakan pilih event terlebih dahulu'
            this.snackbar = true
          }
        }else{
          this.error = res.error.message
          this.snackbar = true
        }
      } catch (error) {
        console.log(error);
      }
    },
    async logging(){
      const role = await this.$store.state.auth.role
      const isAuthenticated = await nhost.auth.getSession()
      console.log(role);
      console.log(isAuthenticated);
    },
    async getEvents(){
      try {
        const res = await this.$apollo.query({
          query: getActiveEvents,
        });

        if (res) {
          this.events = res.data.event
          console.log(this.events);
        }
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>