<template>
  <v-row justify="center">
    <v-stepper tile v-model="e1" class="mx-0 mt-6" width="110%">
      <v-stepper-items class="mx-0">
        <v-stepper-content step="1">
          <div v-if="anggota">
            <v-data-table
              :headers="headers"
              :items="anggota"
              class="elevation-1"
              calculate-widths
            >
              <template v-slot:top>
                <v-toolbar
                  flat
                  style="background-color: #40AE49"
                  height="100px"
                  rounded="lg"
                >
                  <v-toolbar-title style="color:white">Table User</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-dialog
                    v-model="dialog"
                    max-width="900px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="white"
                        dark
                        outlined
                        class="mb-2"
                        @click="e1=2"
                      >
                        Tambah User
                      </v-btn>
                    </template>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.photo_url="{ item }">
                <td>
                  <img :src="item.photo_url" style="max-width: 250px; max-height: 150px" />
                </td>
              </template>
              <template v-slot:item.bukti_swo_url="{ item }">
                <td>
                  <img :src="item.bukti_swo_url" style="max-width: 250px; max-height: 150px" />
                </td>
              </template>
              <template v-slot:item.photo_nbm_url="{ item }">
                <td>
                  <img :src="item.photo_nbm_url" style="max-width: 250px; max-height: 150px" />
                </td>
              </template>
              <template v-slot:item.surat_mandat_url="{ item }">
                <td>
                  <img :src="item.surat_mandat_url" style="max-width: 250px; max-height: 150px" />
                </td>
              </template>
              <template v-slot:item.redirect_url="{ item }">
                <td>
                  <a 
                    class="black--text"
                    :href="item.redirect_url"
                    target="_blank"
                    style="text-decoration:none"
                  >
                    {{item.redirect_url}}
                  </a>
                </td>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  @click="editItem(item)"
                  color="blue"
                >
                  mdi-pencil
                </v-icon>
                <NuxtLink
                  :to="`/users/userDetail/${item.id}`"
                  class="text-decoration-none"
                >
                  <v-icon
                    small
                    color="green"
                  >
                    mdi-eye
                  </v-icon>
                </NuxtLink>
                <v-icon
                  small
                  @click="deleteItem(item)"
                  color="red"
                >
                  mdi-delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                <h5>
                  No data
                </h5>
              </template>
            </v-data-table>
          </div>
          <div v-else>
            <h5>
              Loading data... Please Wait
            </h5>
          </div>
        </v-stepper-content>
        <v-stepper-content step="2">      
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="white"
                dark
                outlined
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Tambah User
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-form
                  ref="form"
                  v-model="valid"
                  lazy-validation
                >
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        lg="4"
                      >
                        <v-text-field
                          v-model="editedItem.email"
                          label="E-mail"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        lg="4"
                      >
                      <v-combobox
                        v-model="editedItem.formulir"
                        label="Formulir Pendaftaran"
                        :items="['Anggota Musyda Pleno PDM','Anggota Musyda Ortom', 'Anggota Musyda PCM-PRM']"
                      ></v-combobox>
                      </v-col>
                      <v-col
                        cols="12"
                        lg="4"
                      >
                        <v-text-field
                          v-model="editedItem.nbm"
                          label="NBM"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        lg="12"
                      >
                        <v-text-field
                          v-model="editedItem.full_name"
                          label="Full Name"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                      >
                        <v-textarea
                          v-model="editedItem.address"
                          label="Alamat"
                        ></v-textarea>
                      </v-col>
                      <v-col
                        cols="12"
                        lg="4"
                      >
                        <v-text-field
                          v-model="editedItem.tempat_lahir"
                          label="Tempat Lahir"
                        ></v-text-field>
                        <h3 class="mt-3 mb-2">Tanggal Lahir</h3>
                        <v-date-picker
                          v-model="editedItem.tanggal_lahir"
                          label="Tanggal Lahir"
                        ></v-date-picker>
                      </v-col>
                      <!-- <v-col
                        cols="12"
                        lg="4"
                      >
                        <h3 class="mt-3 mb-2">Tanggal Lahir</h3>
                        <v-date-picker
                          v-model="editedItem.tanggal_lahir"
                          label="Tanggal Lahir"
                        ></v-date-picker>
                      </v-col> -->
                      
                      <v-col
                        cols="12"
                        lg="8"
                      >
                        <v-combobox
                          v-model="editedItem.pendidikan"
                          label="Pendidikan"
                          :items="[
                            'SD',
                            'SMP',
                            'SMA',
                            'D1',
                            'D2',
                            'D3',
                            'D4',
                            'S1',
                            'S2',
                            'S3',
                          ]"
                        ></v-combobox>
                        <v-combobox
                          v-model="editedItem.profesi"
                          label="Profesi"
                          :items="[
                            'Pegawai Negeri Sipil (PNS)', 
                            'Karyawan Swasta', 
                            'Pengusaha', 
                            'Petani', 
                            'Pegawai Amal Usaha Muhammadiyah',
                            'Pendakwah',
                            'Guru',
                            'Dokter',
                            'Politisi',
                            'Polisi',
                            'TNI',
                            'Ibu Rumah Tangga',
                          ]"
                        ></v-combobox>
                        <v-textarea
                          v-model="editedItem.alamat_kerja"
                          label="Alamat Kerja"
                        ></v-textarea>
                      </v-col>
                      <!-- <v-col
                        cols="12"
                        lg="6"
                      >
                        <v-text-field
                          v-model="editedItem.id"
                          label="id"
                        ></v-text-field>
                      </v-col> -->
                      <!-- <v-col
                        cols="12"
                        lg="6"
                      >
                        <v-text-field
                          v-model="editedItem.jabatan"
                          label="Jabatan"
                        ></v-text-field>
                      </v-col> -->
                      <!-- <v-col
                        cols="12"
                        lg="6"
                      >
                        <v-text-field
                          v-model="editedItem.utusan"
                          label="Utusan"
                        ></v-text-field>
                      </v-col> -->
                      <!-- <v-col
                        cols="12"
                      >
                        <v-test-field
                          v-model="editedItem.ttl"
                          label="Tempat Tanggal Lahir"
                        ></v-test-field>
                      </v-col> -->
                      <v-col
                        cols="12"
                        lg="4"
                      >
                        <v-text-field
                          v-model="editedItem.phone"
                          label="Nomor Telpon"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="8"
                      >
                        <v-combobox
                          v-model="editedItem.status_keanggotaan"
                          label="Status Keanggotaan"
                          :items="[
                            'MUSYPIMDA dan MUSYDA', 'MUSYDA'
                          ]"
                        ></v-combobox>
                      </v-col>
                      <v-col
                        cols="12"
                      >
                        <v-textarea
                          v-model="editedItem.alamat_pengiriman"
                          label="Alamat POS Pengiriman Surat Undangan"
                        ></v-textarea>
                      </v-col>
                      <!-- <v-col
                        cols="12"
                        lg="4"
                      >
                        <v-text-field
                          v-model="editedItem.pdm"
                          label="Pimpinan Daerah Muhammadiyah"
                        ></v-text-field>
                      </v-col> -->
                      <v-col
                        cols="12"
                        lg="4"
                      >
                        <v-combobox
                            v-model="editedItem.pcm"
                            label="Pimpinan Cabang Muhammadiyah"
                            :items="[
                              'PCM Ciparay', 
                              'PCM Rancaekek',
                              'PCM Cilengkrang',
                              'PCM Cileunyi',
                              'PCM Nagreg',
                              'PCM Cicalengka',
                              'PCM Bandung Selatan',
                              'PCM Cangkuang',       
                              'PCM Cimaung',
                              'PCM Pasir Jambu',
                              'PCM Pangalengan',
                              'PCM Baleendah',
                              'PCM Arjasari',
                              'PCM Bojongsoang',
                              'PCM Majalaya',
                              'PCM Paseh',
                              'PCM Solokan Jeruk',
                              'PCM Kertasari',
                            ]"
                          ></v-combobox>
                      </v-col>
                      <v-col
                        cols="12"
                        lg="8"
                      >
                        <v-text-field
                          v-model="editedItem.ketua_pimpinan"
                          label="Ketua Pimpinan"
                        ></v-text-field>
                      </v-col>
                      
                      <v-col
                      lg="6"  
                      cols="12"
                      >
                        <v-file-input
                          v-model="editedItem.photo"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Pick an avatar"
                          prepend-icon="mdi-camera"
                          label="Foto Anggota (Pas Foto 3x4)"
                        ></v-file-input>
                          <!-- <cropper
                          @change="Preview_image"
                          ref="cropper"
                          class="cropper"
                          :src="preview_url"
                          :stencil-props="{
                            aspectRatio: 16/9
                          }"
                          @change="change"
                        /> -->
                      </v-col>
                      <v-col
                      lg="6"  
                      cols="12"
                      >
                      <v-file-input
                          v-model="editedItem.bukti_swo"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Pick an avatar"
                          prepend-icon="mdi-camera"
                          label="Foto/Scan Bukti SWO"
                        ></v-file-input>
                      </v-col>
                      <v-col
                      lg="6"  
                      cols="12"
                      >
                      <v-file-input
                          v-model="editedItem.photo_nbm"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Pick an avatar"
                          prepend-icon="mdi-camera"
                          label="Foto/Scan NBM"
                        ></v-file-input>
                      </v-col>
                      <v-col
                      lg="6"  
                      cols="12"
                      >
                      <v-file-input
                          v-model="editedItem.surat_mandat"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Pick an avatar"
                          prepend-icon="mdi-camera"
                          label="Foto/Scan Surat Mandat"
                        ></v-file-input>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="validate"
                  :disabled="disableButton"
                >
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

  </v-row>
</template>
<script>
  import users from '~/apollo/queries/users/getUsers'
  import gql from 'graphql-tag'
  import { NhostClient } from '@nhost/nhost-js'
  import { Cropper } from 'vue-advanced-cropper';
  import 'vue-advanced-cropper/dist/style.css';

  const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

  export default {
    middleware: "auth",
    apollo: {
      // anggota is the query name, automatically assigned as variable
      anggota: {
        prefetch: true,
        // banners is the imported name
        query: users
      },  
    },
    components: {
      Cropper
    },
    data: () => ({
      photo:null,
      photo_nbm:null,
      bukti_swo:null,
      surat_mandat:null,
      coordinates:null,
      preview_url:null,
      valid: true,
      today:'',
      disableButton: false,
      e1:'1',
      isVerified:[
        { text: 'Yes', value: 'yes'},
        { text: 'No', value: 'no'},
      ],
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'No', value: 'no', width:'100px' },
        { text: 'Full Name', value: 'full_name', width:'250px' },
        { text: 'Username', value: 'username', width:'250px' },
        { text: 'E-mail', value: 'email', width:'250px' },
        { text: 'No. Telp.', value: 'phone', width:'150px' },
        { text: 'NBM', value: 'nbm', width:'150px' },
        { text: 'Formulir', value: 'formulir', width:'150px' },
        { text: 'Jabatan', value: 'jabatan', width:'150px' },
        { text: 'Utusan', value: 'utusan', width:'150px' },
        { text: 'Alamat', value: 'address', width:'350px' },
        { text: 'Image', value: 'photo_url', width: '200px'},
        // { text: 'ttl', value: 'ttl', width: '200px'},
        { text: 'Tempat Lahir', value: 'tempat_lahir', width: '200px'},
        { text: 'Tanggal Lahir', value: 'tanggal_lahir', width: '200px'},
        { text: 'Pendidikan', value: 'pendidikan', width: '200px'},
        { text: 'Profesi', value: 'profesi', width: '200px'},
        { text: 'Alamat Kerja', value: 'alamat_kerja', width: '200px'},
        { text: 'Status Keanggotaan', value: 'status_keanggotaan', width: '200px'},
        { text: 'Alamat Surat Undangan', value: 'alamat_pengiriman', width: '200px'},
        // { text: 'pdm', value: 'pdm', width: '200px'},
        { text: 'Pimpinan Cabang Muhammadiyah', value: 'pcm', width: '200px'},
        { text: 'Ketua Pimpinan', value: 'ketua_pimpinan', width: '200px'},
        { text: 'Bukti SWO', value: 'bukti_swo_url', width: '200px'},
        { text: 'Foto NBM', value: 'photo_nbm_url', width: '200px'},
        { text: 'Surat Mandat', value: 'surat_mandat_url', width: '200px'},
        // { text: 'Image', value: 'img_url', width: '100px' },
        // { text: 'Created', value: 'created_at', width:'110px'},
        // { text: 'Updated', value: 'updated_at', width:'110px'},
        // { text: 'URL', value: 'redirect_url', sortable: false, width:'100px' },
        { text: 'Actions', value: 'actions', sortable: false, width:'100px' },
      ],
      items: {},
      editedIndex: -1,
      editedItem: {},
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Tambah User' : 'Edit User'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
    },

    mounted(){
      this.emptyDataImage()
    },

    methods: {
      
      change() {
        const { canvas } = this.$refs.cropper.getResult();
        // You able to do different manipulations at a canvas
        // but there we just get a cropped image, that can be used 
        // as src for <img/> to preview result
        let blob = canvas.toDataURL();
        const myFile = new Image([blob], 'image.jpeg', {
            type: 'image/jpeg',
        });
        this.editedItem.photo = myFile
        // console.log(this.editedItem.photo)
      },
      emptyDataImage(){
        this.editedItem.photo = null
      },
      Preview_image() {
        // console.log(this.editedItem.photo)
        this.preview_url= URL.createObjectURL(this.editedItem.photo)
      },
      validate(){
        this.valid = this.$refs.form.validate()
        if (this.valid==true){
          this.save()
        }
      },

      getToday(){
        this.today = new Date()
      },

      editItem (item) {
        this.editedIndex = this.anggota.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.emptyDataImage()
        this.e1 = 2
      },

      close () {
        this.dialog = false
        this.photo= null
        this.photo_nbm= null
        this.bukti_swo= null
        // this.emptyDataImage()
        // this.change()
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
        this.e1 = 1
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      deleteItem (item) {
        this.editedIndex = this.anggota.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      async deleteItemConfirm () {
        
        this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
        await this.$nhost.storage.delete({fileId: this.editedItem.photo_id})
        await this.$nhost.storage.delete({fileId: this.editedItem.photo_nbm_id})
        await this.$nhost.storage.delete({fileId: this.editedItem.bukti_swo_id})
        await this.$nhost.storage.delete({fileId: this.editedItem.surat_mandat_id})

        this.$apollo
          .mutate({
            mutation: gql`
              mutation MyMutation($id: uuid!) {
                delete_anggota_by_pk(id: $id) {
                  id
                }
              }
            `,
            variables: {
              id: this.editedItem.id,
            }
          }).then(() => {
            window.location.reload()
          })
      },

      async save () {
        if(this.editedItem.photo){
          this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
          await this.$nhost.storage.delete({fileId: this.editedItem.photo_id})
          const file = this.editedItem.photo;
          let dataUpload1 = await this.$nhost.storage.upload({file: file, bucketId: 'default'})
  
          this.photo = dataUpload1.fileMetadata.id
          this.editedItem.photo_id = this.photo
        } 
        
        if(this.editedItem.photo_nbm){
          this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
          await this.$nhost.storage.delete({fileId: this.editedItem.photo_nbm_id})
          const file = this.editedItem.photo_nbm;
          let dataUpload1 = await this.$nhost.storage.upload({file: file, bucketId: 'default'})
  
          this.photo_nbm = dataUpload1.fileMetadata.id
          this.editedItem.photo_nbm_id = this.photo_nbm
        } 
        
        if(this.editedItem.bukti_swo){
          this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
          await this.$nhost.storage.delete({fileId: this.editedItem.bukti_swo_id})
          const file = this.editedItem.bukti_swo;
          let dataUpload1 = await this.$nhost.storage.upload({file: file, bucketId: 'default'})
  
          this.bukti_swo = dataUpload1.fileMetadata.id
          this.editedItem.bukti_swo_id = this.bukti_swo
        } 
        
        if(this.editedItem.surat_mandat){
          this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
          await this.$nhost.storage.delete({fileId: this.editedItem.surat_mandat_id})
          const file = this.editedItem.surat_mandat;
          let dataUpload1 = await this.$nhost.storage.upload({file: file, bucketId: 'default'})
  
          this.surat_mandat = dataUpload1.fileMetadata.id
          this.editedItem.surat_mandat_id = this.surat_mandat
        }

        // console.log(img)

        this.getToday()
        if (this.editedIndex > -1) {
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation (
                  $address: String,
                  $email: String,
                  $full_name: String,
                  $jabatan: String,
                  $nbm: String,
                  $phone: String,
                  $utusan: String,
                  $username: String,
                  $updated_at: timestamp,
                  $id: uuid,
                  $ttl: String,
                  $pendidikan: String,
                  $profesi: String,
                  $alamat_kerja: String,
                  $status_keanggotaan: String,
                  $alamat_pengiriman: String,
                  $pdm: String,
                  $pcm: String,
                  $ketua_pimpinan: String,
                  $formulir: String,
                  $tempat_lahir: String,
                  $tanggal_lahir: String,
                  $photo_url: String,
                  $bukti_swo_url: String,
                  $photo_nbm_url: String,
                  $surat_mandat_url: String,
                  $photo_id: String,
                  $bukti_swo_id: String,
                  $photo_nbm_id: String,
                  $surat_mandat_id: String,
                ) {
                  update_anggota(
                    where: {id: {_eq: $id}}, 
                    _set: {
                      id: $id, 
                      address: $address,
                      email: $email,
                      full_name: $full_name,
                      jabatan: $jabatan,
                      nbm: $nbm,
                      phone: $phone,
                      utusan: $utusan,
                      username: $username,
                      updated_at: $updated_at
                      ttl: $ttl
                      pendidikan: $pendidikan
                      profesi: $profesi
                      alamat_kerja: $alamat_kerja
                      status_keanggotaan: $status_keanggotaan
                      alamat_pengiriman: $alamat_pengiriman
                      pdm: $pdm
                      pcm: $pcm
                      ketua_pimpinan: $ketua_pimpinan
                      formulir: $formulir
                      tempat_lahir: $tempat_lahir
                      tanggal_lahir: $tanggal_lahir
                      photo_url: $photo_url
                      bukti_swo_url: $bukti_swo_url
                      photo_nbm_url: $photo_nbm_url
                      surat_mandat_url: $surat_mandat_url
                      photo_id: $photo_id
                      bukti_swo_id: $bukti_swo_id
                      photo_nbm_id: $photo_nbm_id
                      surat_mandat_id: $surat_mandat_id
                    }) {
                    returning {
                      address
                      email
                      full_name
                      jabatan
                      nbm
                      phone
                      utusan
                      username
                      id
                      ttl
                      pendidikan
                      profesi
                      alamat_kerja
                      status_keanggotaan
                      alamat_pengiriman
                      pdm
                      pcm
                      ketua_pimpinan
                      formulir
                      tempat_lahir
                      tanggal_lahir
                      photo_url
                      bukti_swo_url
                      photo_nbm_url
                      surat_mandat_url
                      photo_id
                      bukti_swo_id
                      photo_nbm_id
                      surat_mandat_id
                    }
                    affected_rows
                  }
                }
              `,
              variables: {
                id: this.editedItem.id,
                address: this.editedItem.address,
                email: this.editedItem.email,
                full_name: this.editedItem.full_name,
                jabatan: this.editedItem.jabatan,
                nbm: this.editedItem.nbm,
                phone: this.editedItem.phone,
                utusan: this.editedItem.utusan,
                username: this.editedItem.username,
                ttl: this.editedItem.ttl,
                pendidikan: this.editedItem.pendidikan,
                profesi: this.editedItem.profesi,
                alamat_kerja: this.editedItem.alamat_kerja,
                status_keanggotaan: this.editedItem.status_keanggotaan,
                alamat_pengiriman: this.editedItem.alamat_pengiriman,
                pdm: this.editedItem.pdm,
                pcm: this.editedItem.pcm,
                ketua_pimpinan: this.editedItem.ketua_pimpinan,
                formulir: this.editedItem.formulir,
                tempat_lahir: this.editedItem.tempat_lahir,
                tanggal_lahir: this.editedItem.tanggal_lahir,
                photo_id: this.editedItem.photo_id,
                bukti_swo_id: this.editedItem.bukti_swo_id,
                photo_nbm_id: this.editedItem.photo_nbm_id,
                surat_mandat_id: this.editedItem.surat_mandat_id,
                photo_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.photo_id }),
                bukti_swo_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.bukti_swo_id }),
                photo_nbm_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.photo_nbm_id }),
                surat_mandat_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.surat_mandat_id }),
                // img: img,
                updated_at: this.today,
              }
            }).then(() => {
              window.location.reload()
            })
        } else {
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation(
                  # $id: uuid,
                  $address: String,
                  $email: String,
                  $full_name: String,
                  $jabatan: String,
                  $nbm: String,
                  $phone: String,
                  $utusan: String,
                  $username: String,
                  $ttl: String,
                  $pendidikan: String,
                  $profesi: String,
                  $alamat_kerja: String,
                  $status_keanggotaan: String,
                  $alamat_pengiriman: String,
                  $pdm: String,
                  $pcm: String,
                  $ketua_pimpinan: String,
                  $formulir: String,
                  $tempat_lahir: String,
                  $tanggal_lahir: String,
                  $photo_url: String,
                  $bukti_swo_url: String,
                  $photo_nbm_url: String,
                  $surat_mandat_url: String,
                  $photo_id: String,
                  $bukti_swo_id: String,
                  $photo_nbm_id: String,
                  $surat_mandat_id: String,
                ) {
                  insert_anggota(
                    objects: {
                      # id: $id, 
                      address: $address,
                      email: $email,
                      full_name: $full_name,
                      jabatan: $jabatan,
                      nbm: $nbm,
                      phone: $phone,
                      utusan: $utusan,
                      username: $username,
                      ttl: $ttl
                      pendidikan: $pendidikan
                      profesi: $profesi
                      alamat_kerja: $alamat_kerja
                      status_keanggotaan: $status_keanggotaan
                      alamat_pengiriman: $alamat_pengiriman
                      pdm: $pdm
                      pcm: $pcm
                      ketua_pimpinan: $ketua_pimpinan
                      formulir: $formulir
                      tempat_lahir: $tempat_lahir
                      tanggal_lahir: $tanggal_lahir
                      photo_url: $photo_url
                      bukti_swo_url: $bukti_swo_url
                      photo_nbm_url: $photo_nbm_url
                      surat_mandat_url: $surat_mandat_url
                      photo_id: $photo_id
                      bukti_swo_id: $bukti_swo_id
                      photo_nbm_id: $photo_nbm_id
                      surat_mandat_id: $surat_mandat_id
                    }
                  ) {
                    returning {
                      address
                      email
                      full_name
                      jabatan
                      nbm
                      phone
                      utusan
                      username
                      id
                      ttl
                      pendidikan
                      profesi
                      alamat_kerja
                      status_keanggotaan
                      alamat_pengiriman
                      pdm
                      pcm
                      ketua_pimpinan
                      formulir
                      tempat_lahir
                      tanggal_lahir
                      photo_url
                      bukti_swo_url
                      photo_nbm_url
                      surat_mandat_url
                    }
                  }
                }
              `,
              variables: {
                // id: this.editedItem.id,
                address: this.editedItem.address,
                email: this.editedItem.email,
                full_name: this.editedItem.full_name,
                jabatan: this.editedItem.jabatan,
                nbm: this.editedItem.nbm,
                phone: this.editedItem.phone,
                utusan: this.editedItem.utusan,
                username: this.editedItem.username,
                ttl: this.editedItem.ttl,
                pendidikan: this.editedItem.pendidikan,
                profesi: this.editedItem.profesi,
                alamat_kerja: this.editedItem.alamat_kerja,
                status_keanggotaan: this.editedItem.status_keanggotaan,
                alamat_pengiriman: this.editedItem.alamat_pengiriman,
                pdm: this.editedItem.pdm,
                pcm: this.editedItem.pcm,
                ketua_pimpinan: this.editedItem.ketua_pimpinan,
                formulir: this.editedItem.formulir,
                tempat_lahir: this.editedItem.tempat_lahir,
                tanggal_lahir: this.editedItem.tanggal_lahir,
                photo_id: this.editedItem.photo_id,
                bukti_swo_id: this.editedItem.bukti_swo_id,
                photo_nbm_id: this.editedItem.photo_nbm_id,
                surat_mandat_id: this.editedItem.surat_mandat_id,
                photo_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.photo_id }),
                bukti_swo_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.bukti_swo_id }),
                photo_nbm_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.photo_nbm_id }),
                surat_mandat_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.surat_mandat_id }),
                // img: img,
              }
            }).then(() => {
              window.location.reload()
            })
        }
      },
    },
  }
</script>