<template>
  <div>
    <Navbar />
    <div v-if="calon.length !=0 && score.length != 0 && show==true">
      <!-- <h3 class="text-center">Suara yang masuk adalah {{ TokenDoneVote }}</h3> -->
      <VueApexCharts type="bar" height="500" :options="chartOptions" :series="result" />
      <!-- <v-btn @click="updateChart" color="green" class="white--text">Update Chart</v-btn> -->
      <!-- <h3 v-for="calon in calon" :key="id">
        {{ calon }}
      </h3>
      <h3 v-for="score in score" :key="id">
        {{ score }}
      </h3> -->
    </div>
    <div v-else>
      <div class="text-center" style="margin-top: 200px !important;">
        <v-btn color="green" class="white--text mt-2" @click="show = !show">Hitung Suara</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
// import getCalons from '~/apollo/queries/calon/GetCalonsForResult'
import getVoteCountForCalon from '~/apollo/queries/vote/getVoteCountForCalon'
import countDoneVoteToken from '~/apollo/queries/token/countDoneVoteToken'
import countAllTokens from '~/apollo/queries/token/countAllTokens'
import gql from 'graphql-tag'
import Navbar from "@/components/superadmin/navBar"

// const CALONS = getCalons

export default {
  middleware: "superadmin",
  components: { VueApexCharts, Navbar },
  data() {
    return {
      TokenDoneVote:'',
      AllToken :'',
      show: false,
      result:[{data:[]}],
      calon:[],
      score:[],
      initiateData:{},
      finalData:{},
      finalResult:{},
      chartOptions: {
        chart: {
          type: 'bar'
        },
        plotOptions: {
          bar: {
            horizontal: true
          }
        },
        title: {
            text: '',
            align: 'center',
        },
        subtitle: {
            text: '',
            align: 'center',
        },
      },
    };
  },
  methods: {
    async countAllTokens(){
      try {
          const res = await this.$apollo.query({
            query: countAllTokens,
          });
  
          if (res) {
            this.AllToken = res.data.token_aggregate.aggregate.count
            console.log(this.AllToken);
          }
        } catch (err) {
          console.log(err)
        }
    },
    async countTokenUsed(){
      try {
          const res = await this.$apollo.query({
            query: countDoneVoteToken,
          });
  
          if (res) {
            this.TokenDoneVote = res.data.token_aggregate.aggregate.count
            this.chartOptions.title.text = 'Suara yang masuk adalah ' + this.TokenDoneVote
            this.chartOptions.subtitle.text = 'Supported By : PT Cahaya Bumi Amanah (cba-digitechno.com) dan PCM Bojongsoang'
            console.log(this.TokenDoneVote);
          }
        } catch (err) {
          console.log(err)
        }
    },
    async getAllCalon(){
      try {
        const res = await this.$apollo.query({
          query: gql`{
            calon {
              id
              name
            }
          }`,
        });

        if (res) {
          this.initiateData = res.data.calon
        }
      } catch (err) {
        console.log(err)
      }
      // console.log(res.data.calon)
      // console.log('initiateData', this.initiateData)
    },
    async getVoteResult(){
      this.finalData = this.initiateData
      for (let i = 0; i < this.finalData.length; i++) {
        try {
          const res = await this.$apollo.query({
            query: getVoteCountForCalon,
            variables: {
              string: this.finalData[i].id,
            },
          });
  
          if (res) {
            let score = res.data.voting_aggregate.aggregate.count
            this.finalData[i].score = score
            this.result[0].data.push({'x': this.finalData[i].name, 'y': score})
            
            // console.log(this.finalData[i]);
            // console.log(score);
            // console.log(this.finalData[i]);
          }
        } catch (err) {
          console.log(err)
        }
      }
      // console.log('final data',this.finalData);
      this.finalResult = this.sortByKey(this.finalData, 'score')
      this.result[0].data = this.sortByKey(this.result[0].data, 'y')
      // console.log('sorted final data ', this.finalResult);
      // console.log(this.result);
      
      this.setLabel()
    },
    sortByKey(array, key) {
      return array.sort(function(a, b) {
        var x = a[key];
        var y = b[key];
        return ((x > y) ? -1 : ((x < y) ? 1 : 0));
      });
    },
    async calculateVote(){
      this.getAllCalon().then(()=>{
        this.getVoteResult()
      })
    },
    async setLabel (){
      for (let i = 0; i < this.finalResult.length; i++) {
        this.calon.push(this.finalResult[i].name)
        this.score.push(this.finalResult[i].score)
      }
      var calon = await JSON.parse(JSON.stringify(this.calon));
      var score = await JSON.parse(JSON.stringify(this.score));
      this.calon = calon
      this.score = score
      // console.log('nama calon',this.calon);
      // console.log('score',this.score);
    },
  },
  mounted() {
    this.calculateVote()    
    this.countTokenUsed()
    this.countAllTokens()
  },
}
</script>
