<template>
  <v-app dark>
    <v-main >
      <div>
        <Nuxt />
      </div>
    </v-main>
    <v-footer
      fixed
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>

import { NhostClient } from '@nhost/nhost-js'

const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

export default {
  name: 'DefaultLayout',
  data () {
    return {
      notifications: [
        
      ],
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
            // {
            //     action: 'mdi-chart-bar',
            //     title: 'Dashboard',
            //     to: '/',
            // },
            {
                action: 'mdi-laptop',
                items: [
                  { title: 'Users Management', to: '/users' }, 
                  { title: 'Calon', to: '/calon' }, 
                  { title: 'Vote', to: '/vote' }, 
                  { title: 'Token', to: '/token' }, 
                  { title: 'Result', to: '/result' }, 
                  { title: 'Event', to: '/event' }, 
                    // { title: 'Banner', to: '/cms/banner' },
                    // { title: 'Running Text', to: '/cms/running_text' }, 
                    // { title: 'Berita', to: '/cms/berita' },
                    // { title: 'Statistik UKM', to: '/cms/ukm' },
                    // { title: 'Produk', to: '/cms/produk' },
                    // { title: 'Program', to: '/cms/program' },
                    // { title: 'Event', to: '/cms/event' },
                    // { title: 'Gallery Foto', to: '/cms/gallery/foto' },
                    // { title: 'Gallery Video', to: '/cms/gallery/video' },
                    // { title: 'FAQ', to: '/cms/faq' },
                ],
                title: 'Admin',
            },
        ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'TJSL CMS'
    }
  },  
  methods:{
    async signOut(){
      try{
        await nhost.auth.signOut()
        this.$store.commit('auth/setToken', null)
        this.$store.commit('auth/setRole', null)
        // localStorage.setItem('token', null)
        // localStorage.setItem('role', null)
        // console.log(this.$store.state.auth.token); 
        this.$router.push('/auth');
      } catch (error) {
        console.log(error);
      }
    } 
  }
}
</script>
<style>
  .v-image__image{
    filter: brightness(50%);
  }
  .v-main{
    padding-left: 0px !important;
  }
</style>
