<template>
  <div>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-row align="center" class="mx-0">
        <p class="my-auto">Logged as Admin</p>
        <v-spacer />
        <v-btn icon @click="signOut">
            <v-icon color="tertiary">mdi-logout</v-icon>
        </v-btn>
      </v-row>
    </v-app-bar>
  </div>
</template>
<script>

import { NhostClient } from '@nhost/nhost-js'

const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

export default {
  name: 'DefaultLayout',
  data () {
    return {
      notifications: [],
      clipped: false,
      drawer: false,
      fixed: false,
      items: [{
              action: 'mdi-laptop',
              items: [
                // { title: 'Users Management', to: '/users' }, 
                // { title: 'Calon', to: '/admin/calon' }, 
                // { title: 'Token', to: '/admin/token' }, 
                // { title: 'Vote', to: '/vote' }, 
                // { title: 'Result', to: '/result' }, 
                { title: 'Event', to: '/admin/event' }, 
              ],
              title: 'Admin',
            },],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'TJSL CMS'
    }
  },  
  mounted() {
    
  },
  methods:{
    async checkRole(){
      // var role = await nhost.auth.getUser().defaultRole
      const role = await this.$store.state.auth.role
      if (role) {
        if (role === 'admin') {
          this.items = [
            {
              action: 'mdi-laptop',
              items: [
                // { title: 'Users Management', to: '/users' }, 
                { title: 'Calon', to: '/calon' }, 
                { title: 'Token', to: '/token' }, 
                // { title: 'Vote', to: '/vote' }, 
                // { title: 'Result', to: '/result' }, 
              ],
              title: 'Admin',
            },
          ]
        }else if (role === 'me') {
          this.items = [
            {
              action: 'mdi-laptop',
              items: [
                // { title: 'Users Management', to: '/users' }, 
                { title: 'Calon', to: '/admin/calon' }, 
                { title: 'Token', to: '/admin/token' }, 
                // { title: 'Vote', to: '/vote' }, 
                // { title: 'Result', to: '/result' }, 
              ],
              title: 'Admin',
            },
          ]
        }
      }
    },
    async signOut(){
      try{
        var res = await nhost.auth.signOut()
        if (res) {
          var isAuthenticated = await nhost.auth.isAuthenticatedAsync
          if (isAuthenticated) {
            var user = await nhost.auth.getUser()
            if (!user) {
              window.location.href = '/auth/admin'
            }
          }
          
          await this.$store.commit('auth/setRole', null)
          console.log(res); 
        }
      } catch (error) {
        console.log(error);
      }
    } 
  }

}
</script>
<style>
  .v-image__image{
    filter: brightness(50%);
  }
</style>