<template>
  <div>
    <v-app-bar
      color="transparent"
      clipped-left
      fixed
      app
      flat
    >
      <v-row align="center" class="mx-0">
        
        <v-btn depressed class="mx-2" rounded="xl" color="transparent">
          shipping
        </v-btn>
        <v-btn
          depressed
          class="mx-2"
          rounded="xl"
          color="transparent"
        >
          Global Concierge Sevice
        </v-btn>
        <v-btn
          depressed
          class="mx-2"
          rounded="xl"
          color="transparent"
        >
          Career
        </v-btn>
        <v-btn
          depressed
          class="mx-2"
          rounded="xl"
          color="transparent"
        >
          Smart Bonded Zone
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          depressed
          class="mx-2"
          rounded="xl"
          color="transparent"
        >
          Login
        </v-btn>
        <v-btn
          depressed
          class="mx-2 white--text"
          rounded="xl"
          color="red"
        >
          Get Started
        </v-btn>
      </v-row>
    </v-app-bar>
  </div>
</template>

<script>

import { NhostClient } from '@nhost/nhost-js'
import getEventById from '~/apollo/queries/event/getEventById'

const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

export default {
  name: 'DefaultLayout',
  data:()=>({
    notifications: [],
    clipped: false,
    drawer: false,
    fixed: false,
    items: [
      // {
      //   action: 'mdi-laptop',
      //   items: [
      //     { title: 'Users Management', to: '/users' }, 
      //     { title: 'Calon', to: '/admin/calon' }, 
      //     { title: 'Token', to: '/admin/token' }, 
      //     { title: 'Vote', to: '/vote' }, 
      //     { title: 'Result', to: '/result' }, 
      //     { title: 'Event', to: '/admin/event' }, 
      //   ],
      //   title: 'Admin',
      // },
      {title: 'Back', to: '/superadmin/event', action: 'mdi-arrow-left'}
    ],
    miniVariant: false,
    right: true,
    rightDrawer: false,
    event:[],
  }),
  // data () {
  //   return {
  //   }
  // },  
  mounted() {
    this.getEventDetails()
  },
  methods:{
    async getEventDetails(){
      try {
        const res = await this.$apollo.query({
          prefetch: ({ route }) => ({ id: route.params.id }),
          query: getEventById,
          variables: {
            id: this.$route.params.id,
          },
        });

        if (res) {
          // console.log(res.data.event_by_pk)

          this.event = res.data.event_by_pk
        }
      } catch (err) {
        console.log(err)
      }
    },

    async signOut(){
      try{
        var res = await nhost.auth.signOut()
        if (res) {
          var isAuthenticated = await nhost.auth.isAuthenticatedAsync
          if (isAuthenticated) {
            var user = await nhost.auth.getUser()
            if (!user) {
              window.location.href = '/auth/admin'
            }
          }
          
          await this.$store.commit('auth/setRole', null)
          console.log(res); 
        }
      } catch (error) {
        console.log(error);
      }
    } 
  }

}
</script>
<style>
  .v-image__image{
    filter: brightness(50%);
  }
</style>