<template>
  <div class="py-10">
    <v-row justify="">
      <v-stepper tile v-model="e1" width="100%">
        <v-stepper-items>
          <v-stepper-content step="1">
            <div v-if="calon">
              <v-data-table
                :headers="headers"
                :items="calon"
                class="elevation-1"
                calculate-widths
              >
                <template v-slot:top>
                  <v-toolbar
                    flat
                    style="background-color: #40AE49"
                    height="100px"
                    rounded="lg"
                  >
                    <v-toolbar-title style="color:white">Kandidat yang akan dipilih</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="white"
                      dark
                      outlined
                      class="mb-2"
                      @click="e1=2"
                    >
                      Tambah Kandidat
                    </v-btn>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                      <v-card flat>
                        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                          <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:item.photo_url="{ item }">
                  <td>
                    <img :src="item.photo_url" style="; max-height: 150px">
                  </td>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon
                    small
                    @click="editItem(item)"
                    color="blue"
                  >
                    mdi-pencil
                  </v-icon>
                  <!-- <a href="/cms/produk/produkDetail" style="text-decoration:none">
                    <v-icon
                      small
                      color="green"
                    >
                      mdi-eye
                    </v-icon>
                  </a> -->
                  <v-icon
                    small
                    @click="deleteItem(item)"
                    color="red"
                  >
                    mdi-delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <h5>
                    No data
                  </h5>
                </template>
              </v-data-table>
            </div>
            <div v-else>
              <h5>
                Loading data... Please Wait
              </h5>
            </div>
          </v-stepper-content>
          <v-stepper-content step="2">      
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="white"
                  dark
                  outlined
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Tambah Kandidat
                </v-btn>
              </template>
              <v-card flat>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>
  
                <v-card-text>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                  >
                    <v-row>
                      <v-col
                        cols="12"
                        lg="12"
                      >
                        <v-text-field
                          v-model="editedItem.name"
                          label="Nama Kandidat"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                      >
                        <v-file-input
                          v-model="editedItem.photo"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Pick an avatar"
                          prepend-icon="mdi-camera"
                          label="Kandidat Kandidat"
                        ></v-file-input>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-card-text>
  
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="validate"
                    :disabled="disableButton"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
  
    </v-row>
  </div>
</template>
<script>
  import gql from 'graphql-tag'
  import getCalonsByEventId from '~/apollo/queries/calon/getCalonsByEventId'
  import { NhostClient } from '@nhost/nhost-js'

  const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

  export default {
    middleware: "superadmin",
    data: () => ({
      data:'',
      calon:'',
      photo:'',
      valid: true,
      today:'',
      disableButton: false,
      e1:'1',
      isVerified:[
        { text: 'Yes', value: 'yes'},
        { text: 'No', value: 'no'},
      ],
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Name', value: 'name', width:'100px' },
        { text: 'Foto', value: 'photo_url', width:'100px' },
        // { text: 'id', value: 'id', width:'100px' },
        // { text: 'photo_id', value: 'photo_id', width:'100px' },
        // { text: 'Created', value: 'created_at', width:'100px'},
        // { text: 'Updated', value: 'updated_at', width:'100px'},
        { text: 'Actions', value: 'actions', sortable: false, width:'100px' },
      ],
      items: {},
      editedIndex: -1,
      editedItem: {},
      editedSetting: {},
      defaultItem: {},
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Tambah Kandidat' : 'Edit Kandidat'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
    },

    mounted() {
      this.emptyDataImage()
      this.getCalonsByEventId()
    },

    methods: {
      async getCalonsByEventId(){
        try {
          const res = await this.$apollo.query({
            prefetch: ({ route }) => ({ event_id: route.params.id }),
            // photos is the imported name
            query: getCalonsByEventId,
            variables: {
              event_id: this.$route.params.id,
            },
          });

          if (res) {
            // console.log(res.data.event_by_pk)

            // console.log(res.data.calon);
            this.calon = res.data.calon
            // console.log(this.data);
          }
        } catch (err) {
          console.log(err)
        }
      },

      emptyDataImage(){
        this.editedItem.img = null
      },

      initiateSetting(){
        this.editedSetting = Object.assign({}, this.portal_setting_by_pk)
        this.e1 = 3
      },

      validateSetting(){
        this.valid = this.$refs.setting.validate()
        if (this.valid==true){
          this.saveSetting()
        }
      },

      validate(){
        this.valid = this.$refs.form.validate()
        if (this.valid=true){
          this.save()
        }
      },

      getToday(){
        this.today = new Date()
      },

      editItem (item) {
        this.editedIndex = this.calon.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.emptyDataImage()
        this.e1 = 2
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
        this.e1 = 1
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      deleteItem (item) {
        this.editedIndex = this.calon.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      async deleteItemConfirm () {
        await this.$nhost.storage.delete({fileId: this.editedItem.photo_id})
        this.$apollo
          .mutate({
            mutation: gql`
              mutation MyMutation($id: uuid!) {
                delete_calon_by_pk(id: $id) {
                  id
                }
              }
            `,
            variables: {
              id: this.editedItem.id,
            }
          }).then(() => {
            window.location.reload()
          })
      },

      async save () {
        if(this.editedItem.photo){
          this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
          await this.$nhost.storage.delete({fileId: this.editedItem.photo_id})
          const file = this.editedItem.photo;
          let dataUpload1 = await this.$nhost.storage.upload({file: file, bucketId: 'default'})
  
          this.photo = dataUpload1.fileMetadata.id
          this.editedItem.photo_id = this.photo
        } 

        if (this.editedIndex > -1) {
          this.getToday()
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation (
                  $id: uuid
                  $name: String
                  $photo_url: String
                  $photo_id: String
                ) {
                  update_calon(
                    where: {id: {_eq: $id}}, 
                    _set: {
                      name: $name
                      photo_url: $photo_url
                      photo_id: $photo_id
                    }) {
                    returning {
                      id
                      name
                      photo_id
                      photo_url
                    }
                    affected_rows
                  }
                }
              `,
              variables: {
                id: this.editedItem.id,
                name: this.editedItem.name,
                photo_id: this.editedItem.photo_id,
                photo_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.photo_id }),
              }
            }).then(() => {
              window.location.reload()
            })
        } else {
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation(
                  $name: String
                  $photo_url: String
                  $photo_id: String
                  $event_id: uuid
                ) {
                  insert_calon(
                    objects: {
                      name: $name
                      photo_url: $photo_url
                      photo_id: $photo_id
                      event_id: $event_id
                    }
                  ) {
                    returning {
                      id
                      name
                      photo_id
                      photo_url
                      event_id
                    }
                  }
                }
              `,
              variables: {
                id: this.editedItem.id,
                name: this.editedItem.name,
                photo_id: this.editedItem.photo_id,
                event_id: this.$route.params.id,
                photo_url: this.$nhost.storage.getPublicUrl({ fileId: this.editedItem.photo_id }),
              }
            }).then(() => {
              window.location.reload()
            })
        }
        // this.e1 = 1
        // this.close()
      },
    },
  }
</script>