<template>
  <div>
    <div v-if="items.length != 0">
      <v-navigation-drawer
          app
          color="success"
          dark
          mobile-breakpoint="991"
          width="25%"
          expand-on-hover
          fixed
      >
        <v-list>
          <v-list-item class="px-2">
            <v-list-item-avatar>
                <img src="@/assets/images/logo-musyda.jpg" height="34" />
            </v-list-item-avatar>
            <v-list-item-title class="text-h6">
              E-voting
            </v-list-item-title>
          </v-list-item>

          <v-list-item link>
            <v-list-item-content>
              <v-list-item-subtitle>
                <p>Nama Event : {{ event.event_name }} </p>
                <p>Deskripsi: {{ event.description }}</p>
                <p v-if="event.is_active">Status: Aktif</p>
                <p v-else>Status: Non-aktif</p>
                <p v-if="event.disable_pic">Sembunyikan gambar: Ya</p>
                <p v-else>Sembunyikan gambar: tidak</p>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
  
          <v-divider class="mx-3 mb-3" />
  
          <v-list v-for="item in items" :key="item.title">
              <v-list-item v-if="!item.items" :to="item.to" active-class="success white--text">
                  <v-list-item-action>
                      <v-icon>{{ item.action }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-title v-text="item.title" />
              </v-list-item>
  
              <v-list-group
                  v-else
                  v-model="item.active"
                  :prepend-icon="item.action"
                  no-action
                  active-class="success white--text"
              >
                  <template v-slot:activator>
                      <v-list-item-content>
                          <v-list-item-title v-text="item.title"></v-list-item-title>
                      </v-list-item-content>
                  </template>
  
                  <v-list-item
                      v-for="child in item.items"
                      :key="child.title"
                      :to="child.to"
                      active-class="success white--text"
                  >
                      <v-list-item-content>
                          <v-list-item-title v-text="child.title"></v-list-item-title>
                      </v-list-item-content>
                  </v-list-item>
              </v-list-group>
          </v-list>
      </v-navigation-drawer>
    </div>
    <div v-else>

    </div>
    <v-app-bar
      clipped-left
      fixed
      app
      flat
    >
      <v-row align="center" class="mx-0">
        <p class="ml-16 my-auto">Logged as Superadmin</p>
        <v-spacer />
        <v-btn icon @click="signOut">
            <v-icon color="tertiary">mdi-logout</v-icon>
        </v-btn>
      </v-row>
    </v-app-bar>
  </div>
</template>

<script>

import { NhostClient } from '@nhost/nhost-js'
import getEventById from '~/apollo/queries/event/getEventById'

const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

export default {
  name: 'DefaultLayout',
  data:()=>({
    notifications: [],
    clipped: false,
    drawer: false,
    fixed: false,
    items: [
      // {
      //   action: 'mdi-laptop',
      //   items: [
      //     { title: 'Users Management', to: '/users' }, 
      //     { title: 'Calon', to: '/admin/calon' }, 
      //     { title: 'Token', to: '/admin/token' }, 
      //     { title: 'Vote', to: '/vote' }, 
      //     { title: 'Result', to: '/result' }, 
      //     { title: 'Event', to: '/superadmin/event' }, 
      //   ],
      //   title: 'Superadmin',
      // },
      {title: 'Back', to: '/superadmin/event', action: 'mdi-arrow-left'}
    ],
    miniVariant: false,
    right: true,
    rightDrawer: false,
    event:[],
  }),
  // data () {
  //   return {
  //   }
  // },  
  mounted() {
    this.getEventDetails()
  },
  methods:{
    async getEventDetails(){
      try {
        const res = await this.$apollo.query({
          prefetch: ({ route }) => ({ id: route.params.id }),
          query: getEventById,
          variables: {
            id: this.$route.params.id,
          },
        });

        if (res) {
          // console.log(res.data.event_by_pk)

          this.event = res.data.event_by_pk
        }
      } catch (err) {
        console.log(err)
      }
    },

    async signOut(){
      try{
        var res = await nhost.auth.signOut()
        if (res) {
          var isAuthenticated = await nhost.auth.isAuthenticatedAsync
          if (isAuthenticated) {
            var user = await nhost.auth.getUser()
            if (!user) {
              window.location.href = '/auth/admin'
            }
          }
          
          await this.$store.commit('auth/setRole', null)
          console.log(res); 
        }
      } catch (error) {
        console.log(error);
      }
    } 
  }

}
</script>
<style>
  .v-image__image{
    filter: brightness(50%);
  }
</style>