<template>
  <div>
    <Navbar />
  </div>
</template>

<script>

  import { NhostClient } from '@nhost/nhost-js'
  import Navbar from "@/components/admin/navBar"

  const nhost = new NhostClient({
      backendUrl: process.env.backendUrl,
    })

  export default {
    components: {Navbar},
    middleware: "auth",
    data: () => ({
      labels: [
        '12am',
        '3am',
        '6am',
        '9am',
        '12pm',
        '3pm',
        '6pm',
        '9pm',
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        240,
      ],
    }),
    methods:{
      protectRoute(){
        // if (!nhost.auth.isAuthenticated()) {
          // }
          this.$router.push('/users');
        
      },
    },
    mounted(){
      // this.protectRoute()
    },
  }
</script>
