<template>
  <v-container>
    <div>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="name"
          label="Name"
          required
        ></v-text-field>

        <v-select
          v-model="selectedCountry"
          :items="country"
          item-text="countryName"
          label="Country"
          required
        ></v-select>

        <div
          v-if="selectedCountry"
        >
          <v-select
            v-model="selectedCity"
            :items="city"
            item-text="cityName"
            item-value="cityCode"
            label="City"
            required
          ></v-select>
        </div>

        <div v-else>
          <v-select
            v-model="selectedCity"
            item-text="cityName"
            label="City"
            required
          ></v-select>
        </div>

        <v-btn
          color="success"
          class="mr-4"
          @click="submit=true"
        >
          Submit
        </v-btn>

        <div v-if="submit==true">
          <h1>{{ this.selectedCountry }}</h1>
          <h1>{{ this.selectedCity }}</h1>
        </div>
      </v-form>
    </div>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      submit:'false',
      selectedCity:'',
      selectedCountry:'',
      city: [
        {
          "cityName": "Kuala Lumpur",
          "cityCode": "KLU",
          "countryCode": "MYS"
        },
        {
          "cityName": "Jaipur",
          "cityCode": "JIP",
          "countryCode": "NDI"
        },
        {
          "cityName": "Jakarta",
          "cityCode": "JKT",
          "countryCode": "IDN"
        },
        {
          "cityName": "Penang",
          "cityCode": "PEN",
          "countryCode": "MYS"
        },
        {
          "cityName": "Bandung",
          "cityCode": "BDO",
          "countryCode": "IDN"
        }
      ],
      country:[
        {
          "countryName": "Malaysia",
          "countryCode": "MYS"
        },
        {
          "countryName": "Singapore",
          "countryCode": "SIN"
        },
        {
          "countryName": "Indonesia",
          "countryCode": "IDN"
        },
        {
          "countryName": "India",
          "countryCode": "NDI"
        }
      ]
    }),

    methods: {
      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
      sortData(prop){
        return function(a, b) {    
          if (a[prop] > b[prop]) {    
              return 1;    
          } else if (a[prop] < b[prop]) {    
              return -1;    
          }    
          return 0;    
        }   
      }
    },
    mounted(){
      this.city = this.city.sort(this.sortData("cityName"))
      this.country = this.country.sort(this.sortData("countryName"))
    }
  }
</script>