<template>
  <div>
    <Navbar />
    <v-carousel
      hide-delimiters
      height="600"
    >
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      >
        <v-row
          class="fill-height mx-16 white--text"
          align="center"
        >
          <div class="text-h3" >
            {{ item.text }}
            <br>
            <v-btn 
              color="red"
              class="white--text"
              rounded="xl"
            >
              see more
            </v-btn>
          </div>
        </v-row>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>
<script>

  import Navbar from "@/components/admin/navBar"
  export default {
    data () {
      return {
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
            text: 'Hello World'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
            text: 'Welcome to Andalin'
          },
        ],
      }
    },
    components: {Navbar},
  }
</script>