<template>
  <div>
    <!-- <Navbar /> -->
    <AppBar />
    <v-container>
      <v-row justify="center">
        <v-stepper tile v-model="e1" class="mx-0 mt-6" width="110%">
          <v-stepper-items class="mx-0">
            <v-stepper-content step="1">
              <div v-if="event">
                <v-data-table
                  :headers="headers"
                  :items="event"
                  class="elevation-1"
                  calculate-widths
                >
                  <template v-slot:top>
                    <v-toolbar
                      flat
                      style="background-color: #40AE49"
                      height="100px"
                      rounded="lg"
                    >
                      <v-toolbar-title style="color:white">Event yang tersedia</v-toolbar-title>
                      <v-spacer></v-spacer>
                      <!-- <v-btn
                        color="white"
                        dark
                        outlined
                        class="mb-2"
                        @click="e1=2"
                      >
                        Tambah Event
                      </v-btn> -->
                      <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                          <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-toolbar>
                  </template>
                  <template v-slot:item.is_active="{ item }">
                    <td>
                      <div v-if="item.is_active">
                        <v-chip
                          color="success"
                        >
                          Yes
                        </v-chip>
                      </div>
                      <div v-else>
                        <v-chip
                          color="warning"
                        >
                          No
                        </v-chip>
                      </div>
                    </td>
                  </template>
                  <template v-slot:item.disable_pic="{ item }">
                    <td>
                      <div v-if="item.disable_pic">
                        <v-chip
                          color="success"
                        >
                          Yes
                        </v-chip>
                      </div>
                      <div v-else>
                        <v-chip
                          color="warning"
                        >
                          No
                        </v-chip>
                      </div>
                    </td>
                  </template>
                  <template v-slot:item.actions="{ item }">
                    <v-icon
                      small
                      @click="editItem(item)"
                      color="blue"
                    >
                      mdi-pencil
                    </v-icon>
                    <a :href="'/admin/event/detail/' + item.id" style="text-decoration:none">
                      <v-icon
                        small
                        color="green"
                      >
                        mdi-eye
                      </v-icon>
                    </a>
                    <!-- <v-icon
                      small
                      @click="deleteItem(item)"
                      color="red"
                    >
                      mdi-delete
                    </v-icon> -->
                  </template>
                  <template v-slot:no-data>
                    <h5>
                      No data
                    </h5>
                  </template>
                </v-data-table>
              </div>
              <div v-else>
                <h5>
                  Loading data... Please Wait
                </h5>
              </div>
            </v-stepper-content>
            <v-stepper-content step="2">      
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="white"
                    dark
                    outlined
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    Tambah Event
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>
    
                  <v-card-text>
                    <v-form
                      ref="form"
                      v-model="valid"
                      lazy-validation
                    >
                      <v-container>
                        <v-row>
                          <v-col
                            cols="12"
                            lg="12"
                          >
                            <v-text-field
                              v-model="editedItem.event_name"
                              label="Nama Event"
                              required
                              :rules="[rules.required]"
                              @input="validateEvent_name"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                          >
                            <v-text-field
                              v-model="editedItem.description"
                              label="Deskripsi Event"
                              :rules="[rules.required]"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                          >
                            <v-switch
                              v-model="editedItem.is_active"
                              label="Active"
                              color="success"
                              hide-details
                            ></v-switch>
                          </v-col>
                          <v-col
                            cols="12"
                          >
                            <v-text-field
                              v-model="editedItem.chosen_amount"
                              label="Jumlah Kandidat Terpilih per Satu Suara"
                              type="number"
                              :rules="[rules.required]"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                          >
                            <v-switch
                              v-model="editedItem.disable_pic"
                              label="Sembunyikan Foto Kandidat"
                              color="success"
                              hide-details
                            ></v-switch>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-card-text>
    
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="close"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      v-if="valid"
                      color="blue darken-1"
                      text
                      @click="validate"
                      :disabled="disableButton"
                    >
                      Save
                    </v-btn>
                    <v-btn
                      v-else
                      color="blue darken-1"
                      text
                      @click="validate"
                      disabled
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
    
      </v-row>
    </v-container>
  </div>
</template>
<script>
  import gql from 'graphql-tag'
  import getEvents from '~/apollo/queries/event/getEvents'
  import getEventByName from '~/apollo/queries/event/getEventByName'
  import { NhostClient } from '@nhost/nhost-js'
  import Navbar from "@/components/admin/navBar"
  import AppBar from "@/components/admin/AppBar"

  const nhost = new NhostClient({
    backendUrl: process.env.backendUrl,
  })

  export default {
    middleware: "admin",
    components: {Navbar, AppBar},
    apollo: {
      // event is the query name, automatically assigned as variable
      event: {
        prefetch: true,
        // photos is the imported name
        query: getEvents
      },
    },
    data: () => ({
      photo:'',
      valid: false,
      today:'',
      disableButton: false,
      e1:'1',
      isVerified:[
        { text: 'Yes', value: 'yes'},
        { text: 'No', value: 'no'},
      ],
      dialog: false,
      dialogDelete: false,
      headers: [
        // { text: 'id', value: 'id', width:'100px' },
        { text: 'Nama Event', value: 'event_name', width:'100px' },
        { text: 'Deskripsi', value: 'description', width:'100px' },
        { text: 'Active', value: 'is_active', width:'100px' },
        { text: 'Kuota Vote', value: 'chosen_amount', width:'100px' },
        { text: 'Sembunyikan Foto', value: 'disable_pic', width:'100px' },
        // { text: 'id', value: 'id', width:'100px' },
        // { text: 'photo_id', value: 'photo_id', width:'100px' },
        // { text: 'Created', value: 'created_at', width:'100px'},
        // { text: 'Updated', value: 'updated_at', width:'100px'},
        { text: 'Actions', value: 'actions', sortable: false, width:'100px' },
      ],
      items: {},
      editedIndex: -1,
      editedItem: {},
      editedSetting: {},
      defaultItem: {},
      is_duplicated:false,
      rules: {
        required: value => !!value || 'Required.',
        unique: value => value && !is_duplicated || 'Nama event sudah digunakan'
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Tambah Event' : 'Edit Event'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
    },

    mounted() {
      this.emptyDataImage()
    },

    methods: {

      emptyDataImage(){
        this.editedItem.img = null
      },

      initiateSetting(){
        this.editedSetting = Object.assign({}, this.portal_setting_by_pk)
        this.e1 = 3
      },

      validateSetting(){
        this.valid = this.$refs.setting.validate()
        if (this.valid==true){
          this.saveSetting()
        }
      },

      async validateEvent_name(){
        try {
          const res = await this.$apollo.query({
            query: getEventByName,
            variables: {
              event_name: this.editedItem.event_name,
            },
          });

          if (res) {
            // console.log(res.data.token)
            if(res.data.event.length == 0){
              this.is_duplicated = false
            }else{
              this.is_duplicated = true
            }
          }
        } catch (err) {
          console.log(err)
        }
        console.log(this.valid)
      },

      validate(){
        this.valid = this.$refs.form.validate()
        if (this.valid==true){
          this.save()
        }
      },

      getToday(){
        this.today = new Date()
      },

      editItem (item) {
        this.editedIndex = this.event.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.emptyDataImage()
        this.e1 = 2
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
        this.e1 = 1
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      deleteItem (item) {
        this.editedIndex = this.event.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      async deleteItemConfirm () {
        await this.$nhost.storage.delete({fileId: this.editedItem.photo_id})
        this.$apollo
          .mutate({
            mutation: gql`
              mutation MyMutation($id: uuid!) {
                delete_event_by_pk(id: $id) {
                  id
                }
              }
            `,
            variables: {
              id: this.editedItem.id,
            }
          }).then(() => {
            window.location.reload()
          })
      },

      async save () {
        if(this.editedItem.photo){
          this.$nhost.storage.setAdminSecret(process.env.hasuraSecret)
          await this.$nhost.storage.delete({fileId: this.editedItem.photo_id})
          const file = this.editedItem.photo;
          let dataUpload1 = await this.$nhost.storage.upload({file: file, bucketId: 'default'})
  
          this.photo = dataUpload1.fileMetadata.id
          this.editedItem.photo_id = this.photo
        } 

        if (this.editedIndex > -1) {
          this.getToday()
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation (
                  $id: uuid
                  $event_name: String
                  $description: String
                  $is_active: Boolean
                  $chosen_amount: Int
                  $disable_pic: Boolean
                ) {
                  update_event(
                    where: {id: {_eq: $id}}, 
                    _set: {
                      event_name: $event_name
                      description: $description
                      is_active: $is_active
                      chosen_amount: $chosen_amount
                      disable_pic: $disable_pic
                    }) {
                    returning {
                      id
                      event_name
                      description
                      is_active
                      disable_pic
                      chosen_amount
                    }
                    affected_rows
                  }
                }
              `,
              variables: {
                id: this.editedItem.id,
                event_name: this.editedItem.event_name,
                description: this.editedItem.description,
                is_active: this.editedItem.is_active,
                chosen_amount: this.editedItem.chosen_amount,
                disable_pic: this.editedItem.disable_pic,
              }
            }).then(() => {
              window.location.reload()
            })
        } else {
          this.disableButton = true
          this.$apollo
            .mutate({
              mutation: gql`
                mutation(
                  $event_name: String
                  $description: String
                  $is_active: Boolean
                  $chosen_amount: Int
                  $disable_pic: Boolean
                ) {
                  insert_event(
                    objects: {
                      event_name: $event_name
                      description: $description
                      is_active: $is_active
                      chosen_amount: $chosen_amount
                      disable_pic: $disable_pic
                    }
                  ) {
                    returning {
                      id
                      event_name
                      description
                      is_active
                      chosen_amount
                      disable_pic
                    }
                  }
                }
              `,
              variables: {
                // id: this.editedItem.id,
                event_name: this.editedItem.event_name,
                description: this.editedItem.description,
                is_active: this.editedItem.is_active,
                chosen_amount: this.editedItem.chosen_amount,
                disable_pic: this.editedItem.disable_pic,
              }
            }).then(() => {
              window.location.reload()
            })
        }
        // this.e1 = 1
        // this.close()
      },
    },
  }
</script>